<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dupe List</title>
</head>
<body>
    <header>
        <h1><%= Dupe.name %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/dupes">List of Affordable Brands</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2> Brand list!</h2>
            <ul>
                <li>Name: <%= Dupe.name %></li>
                <li>Name: <%= Dupe.brand %></li>
                <li>Name: <%= Dupe.price %></li>
                <li>Name: <%= Dupe.color %></li>
                <li>Name: <%= Dupe.color %></li>
            </ul>
        </section>
        
    </main>
    <section>
        <a href="/dupes/<%= Dupe._id %>/edit">Price Change? Click Here!</a>
    </section>
</body>
</html>